<% include partials/header %>

<h1>This is a home page!</h1>

<img src="https://scontent.fiev1-1.fna.fbcdn.net/v/t1.0-9/28167090_1743076365751613_5012113415992288446_n.jpg?oh=1784a093e186b9ddb8bbc3c6fcd4eb74&oe=5B155596">


<% include partials/footer %>