<% include partials/header %>

<h1>You fell in love with: <%= thingVar.toUpperCase()  %></h1>

<% if(thingVar.toLowerCase() === "anastasia"){ %>
    <p>AWESOME CHOICE. ANASTASIA is the BEST!</p>
<% } else { %>
    <p>You should have said Anastasia</p>
<% } %>

<p>P.S. this is the love.ejs</p>

<% include partials/footer %>