body * {
    /* background: rgba(0, 0, 0, 0.1); */
}

body {
    background: #9D50BB;
    background: -webkit-linear-gradient(to right, #6E48AA, #9D50BB);
    background: linear-gradient(to right, #6E48AA, #9D50BB);
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.2rem;
    color: #fff;
    
}

.container {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 400px;
    height: 400px;
    margin-top: -200px;
    margin-left: -200px;
}

form {
    position: absolute;
    top: 50.8%;
    left: 50.5%;
    transform: translate(-50%, -50%);
}

a {
    cursor: pointer;
    text-decoration: none;
    color: #fff;
}

button {
    position: relative;
    width: 100%;
    background: none;
    border: none;
}

input[type="search"] {
    border-radius: 25px;
    box-shadow: 1px 2px 10px 0px rgba(0, 0, 0, 0.3);
    border: 5px solid gold;
    width: 100%;
}

span {
    float: right;
    position: absolute;
    right: 15px;
    top: 5px;
    z-index: 2;
    cursor: pointer;
}

.search-icon {
    
    padding: 30px;
    border-radius: 50%;
    border: 5px solid gold;
}