body {
    color: #fff;
    font: 600 24px/24px "Open Sans", "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", Sans-Serif;
    margin: 12px 45px;
}

.spin {
    cursor: pointer;
    -webkit-transform-style: preserve-3d;
    transform-style: preserve-3d;
}

.spin:hover {
    -webkit-animation: spin 5s linear infinite;
    animation: spin 5s linear infinite;
}

@-webkit-keyframes spin {
    0% {
        -webkit-transform: rotateY(0deg);
        transform: rotateY(0deg);
    }
    100% {
        -webkit-transform: rotateY(360deg);
        transform: rotateY(360deg);
    }
}

@keyframes spin {
    0% {
        -webkit-transform: rotateY(0deg);
        transform: rotateY(0deg);
    }
    100% {
        -webkit-transform: rotateY(360deg);
        transform: rotateY(360deg);
    }
}

.cube-container {
    height: 200px;
    -webkit-perspective: 300;
    perspective: 300;
    position: relative;
    width: 200px;
    margin-left: auto;
    margin-right: auto;
}

.cube {
    height: 100%;
    s transform: translateZ(-100px);
    -webkit-transform-style: preserve-3d;
    transform-style: preserve-3d;
    width: 100%;
}

.side {
    background: rgba(45, 179, 74, .3);
    border: 2px solid #2db34a;
    height: 196px;
    line-height: 196px;
    position: absolute;
    text-align: center;
    width: 196px;
}

.front {
    -webkit-transform: translateZ(100px);
    transform: translateZ(100px);
}

.back {
    -webkit-transform: rotateX(180deg) translateZ(100px);
    transform: rotateX(180deg) translateZ(100px);
}

.left {
    -webkit-transform: rotateY(-90deg) translateZ(100px);
    transform: rotateY(-90deg) translateZ(100px);
}

.right {
    -webkit-transform: rotateY(90deg) translateZ(100px);
    transform: rotateY(90deg) translateZ(100px);
}

.top {
    -webkit-transform: rotateX(90deg) translateZ(100px);
    transform: rotateX(90deg) translateZ(100px);
}

.bottom {
    -webkit-transform: rotateX(-90deg) translateZ(100px);
    transform: rotateX(-90deg) translateZ(100px);
}
