h1 {
    text-align: center;
}

table {
    /*        border: 1px solid black;*/
    margin: auto;
    border-collapse: collapse;
}

tr {
    border-bottom: 2px solid black;
}

tr:nth-last-child(1) {
    border-bottom: 2px solid transparent;
}

td {
    width: 100px;
    height: 100px;
    /*    border: 2px solid black;*/
    /*    border-bottom: 2px solid black;*/
}

td:nth-child(1) {
    border-right: 2px solid black;
}

td:nth-child(3) {
    border-left: 2px solid black;
}
