* {
    padding: 0;
    margin: 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}


body {
    font-size: 62.5%;
    font-family: arial, sans-serif;
    color: #221F51;
}

.wrapper {
    font-size: 1.6em;
    padding: 2em;
    margin: 0 auto;
    width: 990px;
    background-color: white;
}


#logo {
    margin-bottom: 15px;
}


.sb-item {
    height: 34px;
    list-style-type: none;
    margin-bottom: 21px;
}

.sb-icon-list {
    margin-bottom: 60px;
}

.firsts-sb {
    background: url("../images/1.png") bottom left no-repeat;
}

.second-sb {
    background: url("../images/2.png") bottom left no-repeat;
}

.third-sb {
    background: url("../images/3.png") bottom left no-repeat;
}

.fourth-sb {
    background: url("../images/4.png") bottom left no-repeat;
}

.fifth-sb {
    background: url("../images/5.png") bottom left no-repeat;
}


.list-span {
    display: inline-block;
    padding-left: 45px;
    padding-top: 8px;
    font-size: 1.3em;
}

#social-title {
    display: block;
    border: 2px dashed #221F51;
    width: 143px;
    padding-bottom: 5px;
    margin-bottom: 5px;
}

.social-icons {
    padding-right: 7px;
}


aside {
    float: left;
    margin-right: 35px;
}

main {
    float: right;
}

#big-image {
    margin-bottom: 50px;
}


#newsletter {
    background: url("../images/repeatBkgrnd.png") bottom left no-repeat;
    height: 34px;
    padding-left: 54px;
    position: relative;
    margin-bottom: 50px;
}

#signup-txt {
    width: 317px;
    display: inline-block;
    font-size: .9em;
    margin-right: 60px;
    padding-top: 5px;
}


.email-input {
    height: 30px;
    width: 170px;
    margin-right: 30px;
}

.button {
    border: 1px solid #999999;
    -webkit-border-radius: 42px;
    -moz-border-radius: 42px;
    s border-radius: 42px;
    font-size: 12px;
    padding: 5px 15px 5px 15px;
    text-decoration: none;
    display: inline-block;
    text-shadow: 1px 1px 0 rgba(255, 255, 255, 0.3);
    font-weight: bold;
    color: #000000;
    background-color: #FFFFFF;
    background-image: -webkit-gradient(top, #FFFFFF, #CFCFCF);
    background-image: -moz-gradient(top, #FFFFFF, #CFCFCF);
    background-image: -ms-gradient(top, #FFFFFF, #CFCFCF);
    background-image: -o-linear(top, #FFFFFF, #CFCFCF);
    background-image: linear-gradinet(to bottom, #FFFFFF, #CFCFCF);

}

.subscribe-span {
    position: absolute;
    bottom: 10;
    margin-top: 8px;
}

.article {
    display: inline-block;
    width: 166px;
    margin-right: 10px;
}


.art-title {
    margin-top: 10px;
    margin-bottom: 10px;
}

.fourth-art {
    margin-right: 0px;
}
