body {
    font-family: 'Roboto', sans-serif;
    background: #2BC0E4;
    background: -webkit-linear-gradient(to bottom, #EAECC6, #2BC0E4);
    background: linear-gradient(to bottom, #EAECC6, #2BC0E4);

}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
}



li {
    background: #fff;
    height: 40px;
    line-height: 40px;
    color: #666;
}


li:hover span {
    width: 40px;
    opacity: 1;
}

span {
    background: #e74c3c;
    height: 40px;
    margin-right: 20px;
    text-align: center;
    color: white;
    width: 0;
    display: inline-block;
    transition: 0.2s linear;
    opacity: 0;
}


h1 {
    background: #2980b9;
    color: white;
    margin: 0;
    padding: 10px 20px;
    text-transform: uppercase;
    font-size: 24px;
    font-weight: normal;
}









.fa-plus {
    float: right;
}

.fa-trash {}

li:nth-child(2n) {
    background: #f7f7f7;
}

input {
    font-size: 14px;
    background-color: #f7f7f7;
    width: 100%;
    padding: 13px 13px 13px 20px;
    box-sizing: border-box;
    color: #2980b9;
    border: 3px solid rgba(0, 0, 0, 0);
}

input:focus {
    background: #fff;
    border: 3px solid #2980b9;
}


#container {
    width: 360px;
    margin: 100px auto;
    background: #f7f7f7;
    /*    border: 2px solid grey;*/
    box-shadow: 0 0 3px rgba(0, 0, 0, 0.1);
}

.completed {
    color: gray;
    text-decoration: line-through;
}
