// ********************************
// 404 PAGE STyLES
// ********************************

.error404{
	padding-top: 50px;
	text-align: center;


	.page {
		padding-top: 50px;
		padding-bottom: 50px;
	}
}

