body {
    background-color: #232323;
    margin: 0;
    font-family: "Montserrat", "Avenir", 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.container {
    width: 600px;
    margin: 20px auto;
}

.square {
    width: 30%;
    background: purple;
    padding-bottom: 30%;
    float: left;
    margin: 1.66%;
    border-radius: 15%;
    transition: background 0.6s;
    -webkit-transition: background 0.6s;
    -moz-transition: background 0.6s;
}

h1 {
    text-align: center;
    line-height: 1.1;
    font-weight: normal;
    text-transform: uppercase;
    color: white;
    background: steelblue;
    padding: 20px 0;
    margin: 0;
}

#colorDisplay {
    font-size: 200%;
}

#message {
    display: inline-block;
    width: 20%;
    text-transform: uppercase;
    
    font-weight: 700;
    color: steelblue;
    letter-spacing: 1px;
    font-size: inherit;
}

#striped {
    background: white;
    height: 30px;
    text-align: center;
    color: black;
}

.selected {
    background: steelblue;
    color: white;
}

button {
    border: none;
    background: none;
    text-transform: uppercase;
    height: 100%;
    font-weight: 700;
    color: steelblue;
    letter-spacing: 1px;
    font-size: inherit;
    outline: none;
    transition: all 0.3s;
    -webkit-transition: background 0.6s;
    -moz-transition: background 0.6s;
}

button:hover {
    color: white;
    background: steelblue;
}