// ***********************
// IMAGES
// ***********************

img {
	height: auto; /* make sure images are scaled correctly */
	max-width: 100%: /* Adhere to container width. */
}

figure {
	max-width: 100%;
	margin: 1em 20px;

	figcaption {
		text-align: center;
		font-size: 14px;
		color: lighten( $body-text, 50%);
		font-style: italic;
		letter-spacing: -.5px;
	}
}

embed, iframe, object {
	max-width: 100%;
}


// **************************************
// WORDPRESS UNDERSCORE: DEFAULT CAPTION
// **************************************
//.wp-caption {
//	margin-bottom: 1.5em;
//	max-width: 100%;
//}
//.wp-caption img[class*="wp-image-"] {
//	display: block;
//	margin: 0 auto;
//}
//.wp-caption-text {
//	text-align: center;
//}
//.wp-caption .wp-caption-text {
//	margin: 0.8075em 0;
//}

// ***************************************
// WORDPRESS UNDERSCORE: DEFAULT MEDIA
// ***************************************

//.page-content img.wp-smiley, .entry-content img.wp-smiley, .comment img.wp-smiley {
//	border: none;
//	margin-bottom: 0;
//	margin-top: 0;
//	padding: 0;
//}
/* Make sure embreds and iframes fit their containers */


// ****************************************
// WORDPRESS UNDERSCORE: DEFAULT ALIGNMENTS
// ****************************************

//.alignleft {
//	display: left;
//	float: left;
//	margin-right: 1.5em;
//	margin-bottom: 1em;
//	margin-top: 1em;
//}
//.alignright {
//	display: inline;
//	float: right;
//	margin-left: 1.5em;
//	margin-bottom: 1em;
//	margin-top: 1em;
//}
//.aligncenter {
//	clear: both;
//	display: block;
//	margin: 0 auto;
//}

// *****************************************
// WORDPRESS UNDERSCORE: DEFAULT GALLERY
// *****************************************

//.gallery {
//	margin-bottom: 1.5em;
//}

//.gallery {
//	display: inline-block;
//	text-align: center;
//	vertical-align: top;
//	width: 100%;
//}

//.gallery-columns-2 .gallery-item {
//	max-width: 50%;
//}

//.gallery-columns-3 .gallery-item {
//	max-width: 33.33%;
//}
//.gallery-columns-4 .gallery-item {
//	max-width: 25%;
//}
//.gallery-columns-5 .gallery-item {
//	max-width: 20%;
//}
//.gallery-columns-6 .gallery-item {
//	max-width: 16.66%;
//}
//.gallery-columns-7 .gallery-item {
//	max-width: 14.28%;
//}
//.gallery-columns-8 .gallery-item {
//	max-width: 12.5%;
//}
//.gallery-columns-9 .gallery-item {
//	max-width: 11.11%;
//}
//.gallery-caption {}



