body {
    background: rgba(0, 0, 0, 0.2);
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

button {
    border: none;
    border-radius: 10px;
    box-shadow: 1px 2px 5px rgba(0, 0, 0, 0.2);
    background: white;
    margin: 2px 2px 2px 10px;
    padding: 3px;
}

button:hover {
    background: rgba(0, 0, 0, 0.2);
    color: white;
}