 body {
   font-family: 'Roboto', sans-serif;
   background: linear-gradient(90deg, #ED4264 10%, #FFEDBC 90%);
   /* background: purple; */
   /* color: yellow; */
   /* font-size: 1.4rem; */
 }

 h1 {
   background: #2980b9;
   color: #fff;
   margin: 0;
   padding: 10px 20px;
   font-size: 24px;
   text-transform: uppercase;
   font-weight: 400;
 }

 ul {
   list-style: none;
   margin: 0;
   padding: 0;
 }

 li {
   background: #fff;
   height: 40px;
   line-height: 40px;
   color: #656;
 }

 input {
   font-size: 18px;
   background: #f7f7f7;
   width: 100%;
   padding: 13px 13px 13px 20px;
   box-sizing: border-box;
   color: #656;
 }

 input:focus {
   background: #fff;
   border: 3px solid #2980b9;
   outline: none;
 }

 li:nth-child(2n) {
   background: #f7f7f7;
 }

 #container {
   width: 360px;
   margin: 100px auto;
   background: #f7f7f7;
   /* border: 2px solid grey; */
   box-shadow: 0 0 3px rgba(0, 0, 0, 0.1);
 }

 .completed {
   color: gray;
   text-decoration: line-through;
 }