 body {
     position: absolute;
     top: 50%;
     left: 50%;
     width: 400px;
     height: 400px;
     margin-top: -200px;
     margin-left: -200px;
     border-radius: 2px;
     -webkit-box-shadow: 1px 2px 10px 0px rgba(0, 0, 0, 0.3);
     box-shadow: 1px 2px 10px 0px rgba(0, 0, 0, 0.3);
     background: #43389F;
     background: -webkit-gradient(linear, left bottom, right top, from(#43389F), to(#4ec6ca));
     background: linear-gradient(to top right, #43389F 0%, #4ec6ca 100%);
     filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#43389F', endColorstr='#4ec6ca', GradientType=1);
     font-family: 'Open Sans', sans-serif;
     /* color: #fff; */
 }

 .weather {
     position: absolute;
     top: 50.8%;
     left: 50.5%;
     -webkit-transform: translate(-50%, -50%);
     transform: translate(-50%, -50%);
 }

span {
    cursor: pointer;
}

 