/* Some CSS Setup */

html {
    box-sizing: border-box;
}

*,*:before, *:after {
    box-sizing: inherit;
}

body {
    font-family: sans-serif;
    margin: 0;
    background-image: linear-gradient(260deg, #2376ae 0%, #c16ecf 100%);
}

.wrapper {
    max-width: 1000px;
    margin: 0 auto;
    padding: 50px;
}

img {
    max-width: 100%;
}

a {
    color: white;
    text-decoration: none;
    font-size: 15px;
    background: rgba(0,0,0,0.2);
    padding: 20px 5px;
}
a:hover {
    background: rgba(0,0,0,0.4);
}

 /* our flex container */
.slider-nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
     
}

/* our first flex item */
.slider-nav li {
    flex: 2; /* this is flex item-ish */
    text-align: center;
    /* border: 1px solid red; */
    display: flex; /* this is flex container -ish */
    
}


.slider-nav .arrow {
    flex: 1;
}

.arrow a {
    font-size: 30px;
}

.slider-nav a {
    flex-basis: 100%;
    display: flex;
    align-items: center;
    /* we want to stretch as well as center */
}

/* this is the flex item */
.slider-nav span {
    display: block;
    width: 100%;
}