        .highlight {
            background-color: yellow;
        }

        #wrapper {
            width: 500px;
            margin: auto;
        }

        .ui-menu {
            width: 15em;
        }

        #cartDiv {
            border-style: solid;
            border-width: 5px;
        }
