<h1>You fell in love with: <%= herVar.toUpperCase() %>  </h1>

<% if(herVar.toLowerCase() === "anastasia") { %>
  <p>AWESOME CHOICE! SHE IS THE BEST!</p>
<% } else { %> 
  <p> DO NOT SETTLE FOR LESS GO FOR 10 X of IT!</p>
<% } %>

<p>P.S. this is the love.ejs file!</p>