body {
    font-family: 'Monserrate', sans-serif;
    margin: 0 auto;
    background: #232323;
}

.stripe {
    color: white;
    font-size: 81px;
    text-align: center;
}

.selected {
    background: steelblue;
}

.container {
    margin: 0 auto;
    height: 150px;
    max-width: 600px;
}

.square {
    background: purple;
    display: inline-block;
    float: left;
    height: 100%;
    width: 30%;
    margin: 1.6%;
    border-radius: 15%;

}

.message {
    width: 20%;
    margin: 1% auto;
}

button {
    outline: none;
    border: none;
    background: none;
    color: white;
    font-weight: 700;
    text-transform: uppercase;
    height: 35px;
    line-height: 1.1;
    width: 20%;
    margin: 1.5%;
    text-align: center;
}

button:hover {
    background: steelblue;
    color: black;
    cursor: pointer;
}
