<h1>Friends list goes here</h1>

<% friends.forEach(function(friend) { %>
    <li><%= friend %></li>
<% }); %>

<form method="POST" action="/addfriend">
    <input type="text" name="newfriend" placeholder="name">
    <button>I made a friend</button>
</form>