.frame {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 400px;
    height: 400px;
    margin-top: -200px;
    margin-left: -200px;
    border-radius: 2px;
    box-shadow: 1px 2px 10px 0px rgba(0, 0, 0, 0.3);
    background: #000;
    -webkit-filter: contrast(25);
    filter: contrast(25);
}

.center {
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

.ball {
    position: relative;
    width: 90px;
    height: 90px;
    background: #fff;
    border-radius: 50%;
    -webkit-filter: blur(15px);
    filter: blur(15px);
}

.blubb-1 {
    position: absolute;
    top: 20px;
    left: 20px;
    width: 50px;
    height: 50px;
    -webkit-transform: rotate(251deg);
    transform: rotate(251deg);
}

.blubb-1:after {
    position: absolute;
    display: block;
    content: '';
    width: 50px;
    height: 50px;
    background: #fff;
    border-radius: 50%;
    -webkit-transform-origin: 37px 37px;
    transform-origin: 37px 37px;
    -webkit-animation: rotate 2.7s ease-in-out 0.2s infinite;
    animation: rotate 2.7s ease-in-out 0.2s infinite;
    -webkit-filter: blur(5px);
    filter: blur(5px);
}

.blubb-2 {
    position: absolute;
    top: 20px;
    left: 20px;
    width: 50px;
    height: 50px;
    -webkit-transform: rotate(114deg);
    transform: rotate(114px);
}

.blubb-2:after {
    position: absolute;
    display: block;
    content: '';
    width: 50px;
    height: 50px;
    background: #fff;
    border-radius: 50%;
    -webkit-transform-origin: 34px 34px;
    transform-origin: 34px 34px;
    -webkit-animation: rotate 2.9s ease-in-out 0.4s infinite;
    animation: rotate 2.9s ease-in-out 0.4s infinite;
    -webkit-filter: blur(5px);
    filter: blur(5px);
}

.blubb-3 {
    position: absolute;
    top: 20px;
    left: 20px;
}
