/*-----------THIS IS THE LIST---------------*/

body {
    font-family: "Roboto", sans-serif;
    background: #cc2b5e;
    /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #753a88, #cc2b5e);
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #753a88, #cc2b5e);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

#container {

    width: 360px;
    margin: 100px auto;
    background: #f7f7f7;
    box-shadow: 0 0 3px rgba(0, 0, 0, 0.1);
}

.completed {
    color: purple;
    text-decoration: line-through;
    font-weight: bold;
    font-size: 93%;
    opacity: 0.3;
}

h1 {
    background: #2980b9;
    color: white;
    margin: 0;
    padding: 10px 20px;
    text-transform: uppercase;
    font-size: 24px;
    font-weight: normal;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

li {
    background: #fff;
    height: 40px;
    line-height: 40px;
    color: #666;
    cursor: pointer;
}

li:nth-child(2n) {
    background: #f7f7f7;
}

span {
    background: #e74c3c;
    height: 40px;
    width: 0;
    opacity: 0;
    display: inline-block;
    margin-right: 20px;
    text-align: center;
    color: white;
    transition: 0.2s linear;
}

li:hover span {
    width: 40px;
    opacity: 1;
}

input {
    font-size: 18px;
    color: #2980b6;
    background-color: #f7f7f7;
    width: 100%;
    padding: 13px 13px 13px 20px;
    box-sizing: border-box;
    border: 3px solid rgba(0, 0, 0, 0);
}

input:focus {
    background: #fff;
    border: 3px solid #2980b6;
    outline: none;
}

.fa-plus {
    float: right;
}





/*-----------THIS IS THE SHOE---------------*/

.container-shoe {
    position: relative;
    margin-top: 200px;
    clear: both;
}

.frame {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 360px;
    height: 360px;
    margin-top: -200px;
    margin-left: -180px;
    border-radius: 2px;
    box-shadow: 1px 2px 10px 0px rgba(0, 0, 0, 0.3);
    background: #f6e8d7;
    background: -webkit-radial-gradient(center, ellipse cover, #f6e8d7 0%, #dabe9b 100%);
    background: -webkit-radial-gradient(center ellipse, #f6e8d7 0%, #dabe9b 100%);
    background: radial-gradient(ellipse at center, #f6e8d7 0%, #dabe9b 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f6e8d7', endColorstr='#dabe9b', GradientType=1);
    overflow: hidden;
}

.floor {
    position: absolute;
    top: 244px;
    left: 0;
    right: 0;
    bottom: 0;
    background: #232323;
}

.invisible-men {
    -webkit-animation: fade-in .8s ease-out 1s;
    animation: fade-in .8s ease-out 1s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
}

.leg {
    position: absolute;
    top: 0px;
    left: 147px;
    width: 151px;
    height: 245px;
    -webkit-transform-origin: 50% 0;
    transform-origin: 50% 0;
}

.shoe {
    position: absolute;
    width: 151px;
    height: 128px;
    left: 0;
    bottom: 0;
    background: url("http://100dayscss.com/codepen/doc-martens.svg") center center no-repeat;
    -webkit-transform-origin: 0 95%;
    transform-origin: 0 95%;
}

.left {
    -webkit-animation: leg-swing 2s ease-in-out infinite;
    animation: leg-swing 2s ease-in-out infinite;
}

.left .shoe {
    -webkit-animation: shoe-turn 2s ease-in-out infinite;
    animation: shoe-turn 2s ease-in-out infinite;
}

.right {
    -webkit-animation: leg-swing 2s ease-in-out 1s infinite;
    animation: leg-swing 2s ease-in-out 1s infinite;
}

.right .shoe {
    -webkit-animation: shoe-turn 2s ease-in-out 1s infinite;
    animation: shoe-turn 2s ease-in-out 1s infinite;
}

@-webkit-keyframes leg-swing {
    0%,
    100% {
        -webkit-transform: rotate(-22deg);
        transform: rotate(-22deg);
    }
    50% {
        -webkit-transform: rotate(40deg);
        transform: rotate(40deg);
    }
}

@keyframes leg-swing {
    0%,
    100% {
        -webkit-transform: rotate(-22deg);
        transform: rotate(-22deg);
    }
    50% {
        -webkit-transform: rotate(40deg);
        transform: rotate(40deg);
    }
}

@-webkit-keyframes shoe-turn {
    0%,
    100% {
        -webkit-transform: rotate(-10deg) translateY(-5px) translateX(10px);
        transform: rotate(-10deg) translateY(-5px) translateX(10px);
    }
    25% {
        -webkit-transform: rotate(0deg) translateY(0px) translateX(0);
        transform: rotate(0deg) translateY(0px) translateX(0);
    }
    50% {
        -webkit-transform: rotate(10deg) translateY(-10px) translateX(10px);
        transform: rotate(10deg) translateY(-10px) translateX(10px);
    }
    75% {
        -webkit-transform: rotate(0deg) translateY(-30px) translateX(0);
        transform: rotate(0deg) translateY(-30px) translateX(0);
    }
}

@keyframes shoe-turn {
    0%,
    100% {
        -webkit-transform: rotate(-10deg) translateY(-5px) translateX(10px);
        transform: rotate(-10deg) translateY(-5px) translateX(10px);
    }
    25% {
        -webkit-transform: rotate(0deg) translateY(0px) translateX(0);
        transform: rotate(0deg) translateY(0px) translateX(0);
    }
    50% {
        -webkit-transform: rotate(10deg) translateY(-10px) translateX(10px);
        transform: rotate(10deg) translateY(-10px) translateX(10px);
    }
    75% {
        -webkit-transform: rotate(0deg) translateY(-30px) translateX(0);
        transform: rotate(0deg) translateY(-30px) translateX(0);
    }
}

@-webkit-keyframes fade-in {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@keyframes fade-in {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}
