body {
    /*    16 * 62.5% = 10 1.6 em = 16px        */
    font-size: 62.5%;
    margin: 0;
    padding: 0;
    background-image: url("img/repeatBkgrnd.png");
    background-attachment: fixed;
    background-image: -webkit-linear-gradient(top, #000, gray);
    background-image: -moz-linear-gradient(top, #000, gray);
    background-image: -ms-linear-gradient(top, #000, gray);
    background-image: -o-linear-gradient(top, #000, gray);
    background-image: linear-gradient( top, #000, gray);
    background-image: url("img/sugar.jpg");
    background-position: center center;
    background-attachment: fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

* {
    margin: 0;
    padding: 0;

    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;

}


.wrapper {
    font-size: 1.6em;
    padding: 2em;
    margin: 0 auto;
    width: 900px;
    height: 2000px;
    background-color: white;


    background-image: url("img/toy2.png");
    background-repeat: no-repeat;
    background-position: bottom right;

    background: url("img/toy2.png") top right no-repeat,
    url("img/toy1.png") bottom right no-repeat, #fff;
    opacity: 0.9;

}


h1 {
    font-family: 'Lobster', cursive;
}

a:link,
a:visited {
    text-decoration: none;
}

a:hover {
    background-color: #FAEBD7;
}


h1 {
    margin-bottom: 0;
    text-shadow: 2px 2px 3px gray;
}

h1 + p {
    margin-top: 0;
}


p {
    margin: 10px;
}

.firstp {
    padding-left: 1.4em;
}

.firstp:first-letter {
    font-size: 200%;
    float: left;
    line-height: 1;
}

.fourthp:first-letter {
    font-size: 200%;
    float: left;
    line-height: 1;
}

.dog-pic {
    border: 2px solid black;
    margin: 10px;
    float: left;
    -webkit-box-shadow: 2px 2px 3px 2px gray;
    -moz-box-shadow: 2px 2px 3px 2px gray;
    box-shadow: 2px 2px 3px 2px gray;

    /* move hor, mov vere, blur, size, color*/
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;


    -webkit-transform: rotate(3deg);
    -moz-transform: rotate(3deg);
    -o-transform: rotate(3deg);
    -ms-transform: rotate(3deg);
    transform: rotate(3deg);

}

ul {
    list-style-image: url('img/ntt-logo-plastic.png');
    list-style-type: none;
    padding-left: 20px;
    margin-left: 0;
}

.notices li {
    display: inline;
}


table {
    caption-side: bottom:
}

.quarterback-stats {
    width: 600px;
    border: 1px solid black;
    border-collapse: collapse;
}

.quarterback-stats td,
.quarterback-stats th {
    border: 1px solid #000;
}

.quarterback-stats td {
    text-align: center;
    padding: 0.3em;
}

.quarterback-stats th {
    font-weight: bold;
    padding: 0.3em;
    background-color: #00308F;
    color: #fff;
}

.quarterback-stats tr:nth-child(odd) {
    background-color: #3cb9e8;
}

.quarterback-stats tr:hover {
    background-color: #2e5894;
    color: #fff;
    cursor: pointer;
}


#cust-form {
    width: 375px;
}

#cust-form div {
    float: left;
    width: 375px;
    padding: 0.5em 0.75em 0.5em 0.5em;
}


#cust-form label {
    float: left;
    width: 100px;
}

#cust-form textarea,
form input {
    width: 250px;
}

#cust-submit {
    float: right;
    width: auto;
    margin-right: 10px;
}


#cust-form input:focus,
#cust-form textarea:focus {
    background-color: #f5f5dc;
}


.discount {
    background-color: #fff;
    border: 4px solid #000;
    padding: 10px;
    font-size: 1.4em;
    position: absolute;
    top: 0px;
    right: 55px;

}

.wrapper {
    position: relative;
}


.discount {
    right: 0px;
}

ul.gallery {
    list-style: none;
    clear: both;
}

ul.gallery li {
    display: inline-block;
    position: relative;
}

ul.gallery span {
    width: 250px;
    height: 35px;
    text-align: center;
    position: absolute;
    bottom: 0px;
    left: 0px;
    background-color: :#000;
    opacity: 0.75;
    color: #fff;
}

ul.gallery span {
    margin-left: -10000px;
}

ul.gallery li:hover span {
    margin-left: 0;
}


.gallery img {
    width: 250px;
}
